
 body {
    background-color: #2f4f4f;
 }


.color {
    padding: 10px;
    color: aliceblue;
}



form {
    width: 50%;
    padding: 32px;
}

.peace {
    margin-top: 30px;
    display: block;
}

label {
    color: aliceblue;
}

